body {
  width:960px;
}

div.photo-break {
  position: float;
  width: 960x;
}

h2 {
  margin: 5px;
  text-align: center;
}

.team-images {
  width: 960px;
}
.team-images ul {
  width: 960px;
  height: 250px;
  list-style-type: none;
  padding-left: 0;
}

.team-images ul li {
  float: left;
  width: 180px;
  height: 250px;
  list-style-type: none;
  background-color: rgb(247,150,70);
  border-radius: 10px;
  box-shadow: 4px 5px 2px rgb(150,0,0);
}

.team-images > ul > :nth-child(2){
  margin-right: 15px;
  margin-left: 15px;
}

.team-images > ul > :nth-child(4){
  margin-left: 15px;
  margin-right: 15px;
}

.team-images ul li p {
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 20px;
  margin: 1px;
  padding-top: 15px;
}

.team-images > ul > li > a {
  width: 60px;
  margin-right: 60px;
  float: right;
  text-align: center;
  font-family: 'Simonetta', cursive;
  font-style: italics;
  font-size: 12px;
  margin-top: -5px; 
  color: white;
}

.team-images img {
  width: 130px;
  height: 130px;
  margin: 5px 23px;
  background-color:white;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid rgb(192,0,0);
  border-radius: 10px;
}